p{
	font-size: 18px !important;
}
div#contactWrapper {
    margin: 50px 0;
    width: 100% !important;
    overflow: hidden;
}
#Footer .widgets_wrapper{
	display: none;
}
 h1 {
    font-size: 35px;
    line-height: 35px;
}
h2 {
    font-size: 25px;
    line-height: 25px;
}
.content_wrapper ul {
    list-style: unset;
    margin-left: 20px;
}
form#contactform {
	text-align: center;
    margin: 0 auto;
    max-width: 80%;
}
input#submit {
    padding: 12px 50px;
}
a#back_to_top {
    display: none;
}
